{% extends 'Exam/base.html' %}
{% block title %} Choose question {% endblock %}
{% block content %}
    {% if question %}
        <h2>Please answer the question:</h2>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{question.text}}
            </br>
            {{form.user_answer}}
            {{form.assignment}}
            <button class="btn btn-secondary"> Save</button>
        </form>
    </div>
    {% else %}
        <span> No questions on this test </span>
    {% endif %}
{% endblock %}