{% extends 'Exam/base.html' %}
{% block content %}
  <h1>
    Exams
  </h1>

  <ul>
    {% if object_list %}
      {% for exam in object_list %}
        <li>
          <a class="btn btn-secondary" href=" {% url 'exam_detail' exam.pk %}">
            {{exam.title}} </a>
          <a class="btn btn-primary" href=" {% url 'start_exam' exam.pk %}">Take this exam </a>
           | Created By: {{exam.proctor}}
        </li>
      {% endfor %}
  </ul>
    {% else %}
      Create an Exam
    {% endif %}
  {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'view_assignments' user.pk %}">View Assignments</a>
  {% endif %}
{% endblock %}