{% extends 'Exam/base.html' %}
{% block title %} Take Exam{% endblock %}
{% block content %}
    <h1>
        Take Exam
    </h1>
    {% if user.is_authenticated %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary"> Save</button>
        </form>
        {% if assignment %}
            {{ assignment.student }}
        {% endif %}
    </div>
    {% else %}
        You must <a class="btn btn-secondary" href="{% url 'register'%}"> Register </a>
        or <a class="btn btn-secondary" href="{% url 'login' %}"> Login </a> to view this page
    {% endif %}
{% endblock %}