{% extends 'Exam/base.html' %}
{% block title %} Take Exam{% endblock %}
{% block content %}
    <h1>
        Take Exam
    </h1>
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'ask_question' assignment.pk %}" >Start Exam</a>
    </div>
    {% else %}
        You must <a class="btn btn-secondary" href="{% url 'register'%}"> Register </a>
        or <a class="btn btn-secondary" href="{% url 'login' %}"> Login </a> to view this page
    {% endif %}
{% endblock %}